src/main/resources/BisysReskWs.wsdl

<wsdl:definitions
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:tns="http://www.spn.no/rtv/webservices/BisysReskWS"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://www.spn.no/rtv/webservices/BisysReskWS">
	<wsdl:types>
		<s:schema elementFormDefault="qualified"
			targetNamespace="http://www.spn.no/rtv/webservices/BisysReskWS">
			<s:element name="rohPrSakPrBarn">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1"
							name="naksjonsKode" type="s:int" />
						<s:element minOccurs="1" maxOccurs="1"
							name="nBidragsSaksnr" type="s:int" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="rohPrSakPrBarnResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="rohPrSakPrBarnResult" type="tns:CResknObjectHolder" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="CResknObjectHolder">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1"
						name="_innParameter" type="tns:CinnParameter" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_utParameter" type="tns:CutParameter" />
					<s:element minOccurs="0" maxOccurs="1" name="_retur"
						type="tns:Cretur" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="CinnParameter">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1"
						name="_naksjonsKode" type="s:int" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_srapportType" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="_sfOnr"
						type="s:string" />
					<s:element minOccurs="1" maxOccurs="1"
						name="_nbidragSaksnr" type="s:int" />
					<s:element minOccurs="0" maxOccurs="1" name="_stransID"
						type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="_dtdatoFom"
						type="s:dateTime" />
					<s:element minOccurs="1" maxOccurs="1" name="_dtdatoTom"
						type="s:dateTime" />
					<s:element minOccurs="1" maxOccurs="1"
						name="_nmaxReturTrans" type="s:int" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_sjournalpost" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_stypeEndring" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_sfnrGjelder" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="_sfnrNy"
						type="s:string" />
					<s:element minOccurs="1" maxOccurs="1"
						name="_dtgjelderDatoFOM" type="s:dateTime" />
					<s:element minOccurs="1" maxOccurs="1"
						name="_dtDagensDato" type="s:dateTime" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_sDokumentType" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_sJournalStatus" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="_sInnhBeskr"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_sInnhBeskr2" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_suDatertDok" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_sTilgangsGruppe" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="_sArkivDel"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_sInnholdsType" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="_sKopi"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="_sBehAns"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_savsMottUoff" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_sSaksBehEnhet" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_sSaksBehIdent" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="_sAvskr"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="_sDokKat"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="_sDokTittel"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="_sPapirDok"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="_sDokStatus"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="_sVariant"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_sLagrFormat" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="_sLagrEnhet"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="_sjEnhet"
						type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="CutParameter">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1"
						name="_colCtransaksjon" type="tns:ArrayOfCtransaksjon" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_colCbidragSak" type="tns:ArrayOfCbidragSak" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_colCpersOrg" type="tns:ArrayOfCpersOrg" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_colCgjeldBetOrdn" type="tns:ArrayOfCgjeldBetOrdn" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_colCnyBetOrdn" type="tns:ArrayOfCnyBetOrdn" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_colCinnkrevAktivHist" type="tns:ArrayOfCinnkrevAktivHist" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_sjournalpost" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfCtransaksjon">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded"
						name="Ctransaksjon" nillable="true" type="tns:Ctransaksjon" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="Ctransaksjon">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="_stransID"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="_stransKode"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_stransBeskr" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_sbehandKode" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_sbehandBeskr" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="_dtpostDato"
						type="s:dateTime" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_stransKildeFOnr" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_stransMottakerFOnr" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="_dopprBelop"
						type="s:decimal" />
					<s:element minOccurs="1" maxOccurs="1" name="_drestBelop"
						type="s:decimal" />
					<s:element minOccurs="1" maxOccurs="1"
						name="_dvalutaOpprBelop" type="s:decimal" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_svalutaKode" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1"
						name="_nbidragSaksnr" type="s:int" />
					<s:element minOccurs="1" maxOccurs="1"
						name="_dtbidPerDatoFom" type="s:dateTime" />
					<s:element minOccurs="1" maxOccurs="1"
						name="_dtbidPerDatoTom" type="s:dateTime" />
					<s:element minOccurs="0" maxOccurs="1" name="_sbarnFnr"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="_sbidragId"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="_sSoknType"
						type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfCbidragSak">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded"
						name="CbidragSak" nillable="true" type="tns:CbidragSak" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="CbidragSak">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1"
						name="_nBidragsSaksnr" type="s:int" />
					<s:element minOccurs="1" maxOccurs="1"
						name="_dbmGjeldFastsGebyr" type="s:decimal" />
					<s:element minOccurs="1" maxOccurs="1"
						name="_dbmGjeldRest" type="s:decimal" />
					<s:element minOccurs="1" maxOccurs="1"
						name="_dbpGjeldFastGebyr" type="s:decimal" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_colCbarnISak" type="tns:ArrayOfCbarnISak" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfCbarnISak">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded"
						name="CbarnISak" nillable="true" type="tns:CbarnISak" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="CbarnISak">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="_sFnr"
						type="s:string" />
					<s:element minOccurs="1" maxOccurs="1"
						name="_dbpBelGjeldOff" type="s:decimal" />
					<s:element minOccurs="1" maxOccurs="1"
						name="_dbpBelGjeldPrivTot" type="s:decimal" />
					<s:element minOccurs="1" maxOccurs="1"
						name="_dbidUtbetTot" type="s:decimal" />
					<s:element minOccurs="1" maxOccurs="1"
						name="_dforskUtbetTot" type="s:decimal" />
					<s:element minOccurs="1" maxOccurs="1"
						name="_dbpBelGjeldPrivAndel" type="s:decimal" />
					<s:element minOccurs="1" maxOccurs="1"
						name="_dbidUtbetAndel" type="s:decimal" />
					<s:element minOccurs="1" maxOccurs="1"
						name="_dforskUtbetAndel" type="s:decimal" />
					<s:element minOccurs="1" maxOccurs="1"
						name="_dtbidPerSisteDatoFom" type="s:dateTime" />
					<s:element minOccurs="1" maxOccurs="1"
						name="_dtbidPerSisteDatoTom" type="s:dateTime" />
					<s:element minOccurs="0" maxOccurs="1" name="_sstoppFord"
						type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfCpersOrg">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded"
						name="CpersOrg" nillable="true" type="tns:CpersOrg" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="CpersOrg">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="_sfnr"
						type="s:string" />
					<s:element minOccurs="1" maxOccurs="1"
						name="_dtotLopBidrag" type="s:decimal" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_statusInnkrevBeskr" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_fakturaMaateBeskr" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_sisteAktivitetBeskr" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1"
						name="_dinnbetBelopUford" type="s:decimal" />
					<s:element minOccurs="1" maxOccurs="1"
						name="_dgjeldGebyrIlagtTI" type="s:decimal" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfCgjeldBetOrdn">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded"
						name="CgjeldBetOrdn" nillable="true" type="tns:CgjeldBetOrdn" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="CgjeldBetOrdn">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1"
						name="_stypeBetOrdBesk" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_sbetKildeFOnr" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_sbetKildeNavn" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1"
						name="_dtDatoSisteGiro" type="s:dateTime" />
					<s:element minOccurs="1" maxOccurs="1"
						name="_dtDatoNesteForfall" type="s:dateTime" />
					<s:element minOccurs="1" maxOccurs="1" name="_dBelop"
						type="s:decimal" />
					<s:element minOccurs="1" maxOccurs="1"
						name="_dtDatoSistEndret" type="s:dateTime" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_sAarsakSistEndret" type="s:string" />
					<s:element minOccurs="1" maxOccurs="1"
						name="_dSumUbetOrdning" type="s:decimal" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfCnyBetOrdn">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded"
						name="CnyBetOrdn" nillable="true" type="tns:CnyBetOrdn" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="CnyBetOrdn">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="_dtDatoFOM"
						type="s:dateTime" />
					<s:element minOccurs="1" maxOccurs="1" name="_dBelop"
						type="s:decimal" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_sBetKildeNyFOnr" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1"
						name="_sBetKildeNyNavn" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfCinnkrevAktivHist">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded"
						name="CinnkrevAktivHist" nillable="true"
						type="tns:CinnkrevAktivHist" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="CinnkrevAktivHist">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="_shendBeskr"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="_sFOnr"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="_sNavn"
						type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="_dtDatoFOM"
						type="s:dateTime" />
					<s:element minOccurs="1" maxOccurs="1"
						name="_dBelopHendelse" type="s:decimal" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="Cretur">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="_skode"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="_sbeskr"
						type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:element name="rohPrPersPrSakPrBarn">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1"
							name="naksjonsKode" type="s:int" />
						<s:element minOccurs="0" maxOccurs="1" name="sFNR_ORGNR"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="rohPrPersPrSakPrBarnResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="rohPrPersPrSakPrBarnResult" type="tns:CResknObjectHolder" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="rohTransPrSak">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1"
							name="naksjonsKode" type="s:int" />
						<s:element minOccurs="1" maxOccurs="1"
							name="nBidragsSaksnr" type="s:int" />
						<s:element minOccurs="1" maxOccurs="1" name="dtdatoFom"
							type="s:dateTime" />
						<s:element minOccurs="1" maxOccurs="1" name="dtdatoTom"
							type="s:dateTime" />
						<s:element minOccurs="1" maxOccurs="1"
							name="nmaxReturTrans" type="s:int" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="rohTransPrSakResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="rohTransPrSakResult" type="tns:CResknObjectHolder" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="rohTransPrPersPrOrg">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1"
							name="naksjonsKode" type="s:int" />
						<s:element minOccurs="0" maxOccurs="1" name="sFNR_ORGNR"
							type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="dtdatoFom"
							type="s:dateTime" />
						<s:element minOccurs="1" maxOccurs="1" name="dtdatoTom"
							type="s:dateTime" />
						<s:element minOccurs="1" maxOccurs="1"
							name="nmaxReturTrans" type="s:int" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="rohTransPrPersPrOrgResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="rohTransPrPersPrOrgResult" type="tns:CResknObjectHolder" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="rohTransPrTransID">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1"
							name="naksjonsKode" type="s:int" />
						<s:element minOccurs="0" maxOccurs="1" name="sTransID"
							type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="dtdatoFom"
							type="s:dateTime" />
						<s:element minOccurs="1" maxOccurs="1" name="dtdatoTom"
							type="s:dateTime" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="rohTransPrTransIDResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="rohTransPrTransIDResult" type="tns:CResknObjectHolder" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="rohInnkrevInfo">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1"
							name="naksjonsKode" type="s:int" />
						<s:element minOccurs="0" maxOccurs="1" name="sFNR_ORGNR"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="rohInnkrevInfoResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="rohInnkrevInfoResult" type="tns:CResknObjectHolder" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="rohKontoutdrag">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1"
							name="naksjonsKode" type="s:int" />
						<s:element minOccurs="0" maxOccurs="1" name="sysId"
							type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="brevRef"
							type="s:long" />
						<s:element minOccurs="1" maxOccurs="1"
							name="nbidragSaksnr" type="s:int" />
						<s:element minOccurs="0" maxOccurs="1" name="sFNR_ORGNR"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1"
							name="srapportType" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1" name="dtdatoFom"
							type="s:dateTime" />
						<s:element minOccurs="1" maxOccurs="1" name="dtdatoTom"
							type="s:dateTime" />
						<s:element minOccurs="0" maxOccurs="1"
							name="MQReplyQueue" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="rohKontoutdragResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="rohKontoutdragResult" type="tns:CResknObjectHolder" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="rohRMEndreFNR">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1"
							name="naksjonsKode" type="s:int" />
						<s:element minOccurs="0" maxOccurs="1"
							name="stypeEndring" type="s:string" />
						<s:element minOccurs="1" maxOccurs="1"
							name="nbidragSaksnr" type="s:int" />
						<s:element minOccurs="0" maxOccurs="1" name="sfnr"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1"
							name="sfnrGjelder" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="sfnrNy"
							type="s:string" />
						<s:element minOccurs="1" maxOccurs="1"
							name="dtdatoGjelderFOM" type="s:dateTime" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="rohRMEndreFNRResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="rohRMEndreFNRResult" type="tns:CResknObjectHolder" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="CResknObjectHolder" nillable="true"
				type="tns:CResknObjectHolder" />
		</s:schema>
	</wsdl:types>
	<wsdl:message name="rohPrSakPrBarnSoapIn">
		<wsdl:part name="parameters" element="tns:rohPrSakPrBarn" />
	</wsdl:message>
	<wsdl:message name="rohPrSakPrBarnSoapOut">
		<wsdl:part name="parameters"
			element="tns:rohPrSakPrBarnResponse" />
	</wsdl:message>
	<wsdl:message name="rohPrPersPrSakPrBarnSoapIn">
		<wsdl:part name="parameters"
			element="tns:rohPrPersPrSakPrBarn" />
	</wsdl:message>
	<wsdl:message name="rohPrPersPrSakPrBarnSoapOut">
		<wsdl:part name="parameters"
			element="tns:rohPrPersPrSakPrBarnResponse" />
	</wsdl:message>
	<wsdl:message name="rohTransPrSakSoapIn">
		<wsdl:part name="parameters" element="tns:rohTransPrSak" />
	</wsdl:message>
	<wsdl:message name="rohTransPrSakSoapOut">
		<wsdl:part name="parameters"
			element="tns:rohTransPrSakResponse" />
	</wsdl:message>
	<wsdl:message name="rohTransPrPersPrOrgSoapIn">
		<wsdl:part name="parameters"
			element="tns:rohTransPrPersPrOrg" />
	</wsdl:message>
	<wsdl:message name="rohTransPrPersPrOrgSoapOut">
		<wsdl:part name="parameters"
			element="tns:rohTransPrPersPrOrgResponse" />
	</wsdl:message>
	<wsdl:message name="rohTransPrTransIDSoapIn">
		<wsdl:part name="parameters" element="tns:rohTransPrTransID" />
	</wsdl:message>
	<wsdl:message name="rohTransPrTransIDSoapOut">
		<wsdl:part name="parameters"
			element="tns:rohTransPrTransIDResponse" />
	</wsdl:message>
	<wsdl:message name="rohInnkrevInfoSoapIn">
		<wsdl:part name="parameters" element="tns:rohInnkrevInfo" />
	</wsdl:message>
	<wsdl:message name="rohInnkrevInfoSoapOut">
		<wsdl:part name="parameters"
			element="tns:rohInnkrevInfoResponse" />
	</wsdl:message>
	<wsdl:message name="rohKontoutdragSoapIn">
		<wsdl:part name="parameters" element="tns:rohKontoutdrag" />
	</wsdl:message>
	<wsdl:message name="rohKontoutdragSoapOut">
		<wsdl:part name="parameters"
			element="tns:rohKontoutdragResponse" />
	</wsdl:message>
	<wsdl:message name="rohRMEndreFNRSoapIn">
		<wsdl:part name="parameters" element="tns:rohRMEndreFNR" />
	</wsdl:message>
	<wsdl:message name="rohRMEndreFNRSoapOut">
		<wsdl:part name="parameters"
			element="tns:rohRMEndreFNRResponse" />
	</wsdl:message>
	<wsdl:message name="rohPrSakPrBarnHttpPostIn">
		<wsdl:part name="naksjonsKode" type="s:string" />
		<wsdl:part name="nBidragsSaksnr" type="s:string" />
	</wsdl:message>
	<wsdl:message name="rohPrSakPrBarnHttpPostOut">
		<wsdl:part name="Body" element="tns:CResknObjectHolder" />
	</wsdl:message>
	<wsdl:message name="rohPrPersPrSakPrBarnHttpPostIn">
		<wsdl:part name="naksjonsKode" type="s:string" />
		<wsdl:part name="sFNR_ORGNR" type="s:string" />
	</wsdl:message>
	<wsdl:message name="rohPrPersPrSakPrBarnHttpPostOut">
		<wsdl:part name="Body" element="tns:CResknObjectHolder" />
	</wsdl:message>
	<wsdl:message name="rohTransPrSakHttpPostIn">
		<wsdl:part name="naksjonsKode" type="s:string" />
		<wsdl:part name="nBidragsSaksnr" type="s:string" />
		<wsdl:part name="dtdatoFom" type="s:string" />
		<wsdl:part name="dtdatoTom" type="s:string" />
		<wsdl:part name="nmaxReturTrans" type="s:string" />
	</wsdl:message>
	<wsdl:message name="rohTransPrSakHttpPostOut">
		<wsdl:part name="Body" element="tns:CResknObjectHolder" />
	</wsdl:message>
	<wsdl:message name="rohTransPrPersPrOrgHttpPostIn">
		<wsdl:part name="naksjonsKode" type="s:string" />
		<wsdl:part name="sFNR_ORGNR" type="s:string" />
		<wsdl:part name="dtdatoFom" type="s:string" />
		<wsdl:part name="dtdatoTom" type="s:string" />
		<wsdl:part name="nmaxReturTrans" type="s:string" />
	</wsdl:message>
	<wsdl:message name="rohTransPrPersPrOrgHttpPostOut">
		<wsdl:part name="Body" element="tns:CResknObjectHolder" />
	</wsdl:message>
	<wsdl:message name="rohTransPrTransIDHttpPostIn">
		<wsdl:part name="naksjonsKode" type="s:string" />
		<wsdl:part name="sTransID" type="s:string" />
		<wsdl:part name="dtdatoFom" type="s:string" />
		<wsdl:part name="dtdatoTom" type="s:string" />
	</wsdl:message>
	<wsdl:message name="rohTransPrTransIDHttpPostOut">
		<wsdl:part name="Body" element="tns:CResknObjectHolder" />
	</wsdl:message>
	<wsdl:message name="rohInnkrevInfoHttpPostIn">
		<wsdl:part name="naksjonsKode" type="s:string" />
		<wsdl:part name="sFNR_ORGNR" type="s:string" />
	</wsdl:message>
	<wsdl:message name="rohInnkrevInfoHttpPostOut">
		<wsdl:part name="Body" element="tns:CResknObjectHolder" />
	</wsdl:message>
	<wsdl:message name="rohKontoutdragHttpPostIn">
		<wsdl:part name="naksjonsKode" type="s:string" />
		<wsdl:part name="sysId" type="s:string" />
		<wsdl:part name="brevRef" type="s:string" />
		<wsdl:part name="nbidragSaksnr" type="s:string" />
		<wsdl:part name="sFNR_ORGNR" type="s:string" />
		<wsdl:part name="srapportType" type="s:string" />
		<wsdl:part name="dtdatoFom" type="s:string" />
		<wsdl:part name="dtdatoTom" type="s:string" />
		<wsdl:part name="MQReplyQueue" type="s:string" />
	</wsdl:message>
	<wsdl:message name="rohKontoutdragHttpPostOut">
		<wsdl:part name="Body" element="tns:CResknObjectHolder" />
	</wsdl:message>
	<wsdl:message name="rohRMEndreFNRHttpPostIn">
		<wsdl:part name="naksjonsKode" type="s:string" />
		<wsdl:part name="stypeEndring" type="s:string" />
		<wsdl:part name="nbidragSaksnr" type="s:string" />
		<wsdl:part name="sfnr" type="s:string" />
		<wsdl:part name="sfnrGjelder" type="s:string" />
		<wsdl:part name="sfnrNy" type="s:string" />
		<wsdl:part name="dtdatoGjelderFOM" type="s:string" />
	</wsdl:message>
	<wsdl:message name="rohRMEndreFNRHttpPostOut">
		<wsdl:part name="Body" element="tns:CResknObjectHolder" />
	</wsdl:message>
	<wsdl:portType name="BisysReskWSSoap">
		<wsdl:operation name="rohPrSakPrBarn">
			<wsdl:input message="tns:rohPrSakPrBarnSoapIn" />
			<wsdl:output message="tns:rohPrSakPrBarnSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="rohPrPersPrSakPrBarn">
			<wsdl:input message="tns:rohPrPersPrSakPrBarnSoapIn" />
			<wsdl:output message="tns:rohPrPersPrSakPrBarnSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="rohTransPrSak">
			<wsdl:input message="tns:rohTransPrSakSoapIn" />
			<wsdl:output message="tns:rohTransPrSakSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="rohTransPrPersPrOrg">
			<wsdl:input message="tns:rohTransPrPersPrOrgSoapIn" />
			<wsdl:output message="tns:rohTransPrPersPrOrgSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="rohTransPrTransID">
			<wsdl:input message="tns:rohTransPrTransIDSoapIn" />
			<wsdl:output message="tns:rohTransPrTransIDSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="rohInnkrevInfo">
			<wsdl:input message="tns:rohInnkrevInfoSoapIn" />
			<wsdl:output message="tns:rohInnkrevInfoSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="rohKontoutdrag">
			<wsdl:input message="tns:rohKontoutdragSoapIn" />
			<wsdl:output message="tns:rohKontoutdragSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="rohRMEndreFNR">
			<wsdl:input message="tns:rohRMEndreFNRSoapIn" />
			<wsdl:output message="tns:rohRMEndreFNRSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="BisysReskWSHttpPost">
		<wsdl:operation name="rohPrSakPrBarn">
			<wsdl:input message="tns:rohPrSakPrBarnHttpPostIn" />
			<wsdl:output message="tns:rohPrSakPrBarnHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="rohPrPersPrSakPrBarn">
			<wsdl:input message="tns:rohPrPersPrSakPrBarnHttpPostIn" />
			<wsdl:output
				message="tns:rohPrPersPrSakPrBarnHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="rohTransPrSak">
			<wsdl:input message="tns:rohTransPrSakHttpPostIn" />
			<wsdl:output message="tns:rohTransPrSakHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="rohTransPrPersPrOrg">
			<wsdl:input message="tns:rohTransPrPersPrOrgHttpPostIn" />
			<wsdl:output message="tns:rohTransPrPersPrOrgHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="rohTransPrTransID">
			<wsdl:input message="tns:rohTransPrTransIDHttpPostIn" />
			<wsdl:output message="tns:rohTransPrTransIDHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="rohInnkrevInfo">
			<wsdl:input message="tns:rohInnkrevInfoHttpPostIn" />
			<wsdl:output message="tns:rohInnkrevInfoHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="rohKontoutdrag">
			<wsdl:input message="tns:rohKontoutdragHttpPostIn" />
			<wsdl:output message="tns:rohKontoutdragHttpPostOut" />
		</wsdl:operation>
		<wsdl:operation name="rohRMEndreFNR">
			<wsdl:input message="tns:rohRMEndreFNRHttpPostIn" />
			<wsdl:output message="tns:rohRMEndreFNRHttpPostOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BisysReskWSSoap"
		type="tns:BisysReskWSSoap">
		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="rohPrSakPrBarn">
			<soap:operation
				soapAction="http://www.spn.no/rtv/webservices/BisysReskWS/rohPrSakPrBarn"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="rohPrPersPrSakPrBarn">
			<soap:operation
				soapAction="http://www.spn.no/rtv/webservices/BisysReskWS/rohPrPersPrSakPrBarn"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="rohTransPrSak">
			<soap:operation
				soapAction="http://www.spn.no/rtv/webservices/BisysReskWS/rohTransPrSak"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="rohTransPrPersPrOrg">
			<soap:operation
				soapAction="http://www.spn.no/rtv/webservices/BisysReskWS/rohTransPrPersPrOrg"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="rohTransPrTransID">
			<soap:operation
				soapAction="http://www.spn.no/rtv/webservices/BisysReskWS/rohTransPrTransID"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="rohInnkrevInfo">
			<soap:operation
				soapAction="http://www.spn.no/rtv/webservices/BisysReskWS/rohInnkrevInfo"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="rohKontoutdrag">
			<soap:operation
				soapAction="http://www.spn.no/rtv/webservices/BisysReskWS/rohKontoutdrag"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="rohRMEndreFNR">
			<soap:operation
				soapAction="http://www.spn.no/rtv/webservices/BisysReskWS/rohRMEndreFNR"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="BisysReskWSSoap12"
		type="tns:BisysReskWSSoap">
		<soap12:binding
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="rohPrSakPrBarn">
			<soap12:operation
				soapAction="http://www.spn.no/rtv/webservices/BisysReskWS/rohPrSakPrBarn"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="rohPrPersPrSakPrBarn">
			<soap12:operation
				soapAction="http://www.spn.no/rtv/webservices/BisysReskWS/rohPrPersPrSakPrBarn"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="rohTransPrSak">
			<soap12:operation
				soapAction="http://www.spn.no/rtv/webservices/BisysReskWS/rohTransPrSak"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="rohTransPrPersPrOrg">
			<soap12:operation
				soapAction="http://www.spn.no/rtv/webservices/BisysReskWS/rohTransPrPersPrOrg"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="rohTransPrTransID">
			<soap12:operation
				soapAction="http://www.spn.no/rtv/webservices/BisysReskWS/rohTransPrTransID"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="rohInnkrevInfo">
			<soap12:operation
				soapAction="http://www.spn.no/rtv/webservices/BisysReskWS/rohInnkrevInfo"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="rohKontoutdrag">
			<soap12:operation
				soapAction="http://www.spn.no/rtv/webservices/BisysReskWS/rohKontoutdrag"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="rohRMEndreFNR">
			<soap12:operation
				soapAction="http://www.spn.no/rtv/webservices/BisysReskWS/rohRMEndreFNR"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="BisysReskWSHttpPost"
		type="tns:BisysReskWSHttpPost">
		<http:binding verb="POST" />
		<wsdl:operation name="rohPrSakPrBarn">
			<http:operation location="/rohPrSakPrBarn" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="rohPrPersPrSakPrBarn">
			<http:operation location="/rohPrPersPrSakPrBarn" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="rohTransPrSak">
			<http:operation location="/rohTransPrSak" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="rohTransPrPersPrOrg">
			<http:operation location="/rohTransPrPersPrOrg" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="rohTransPrTransID">
			<http:operation location="/rohTransPrTransID" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="rohInnkrevInfo">
			<http:operation location="/rohInnkrevInfo" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="rohKontoutdrag">
			<http:operation location="/rohKontoutdrag" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="rohRMEndreFNR">
			<http:operation location="/rohRMEndreFNR" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:mimeXml part="Body" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BisysReskWS">
		<wsdl:port name="BisysReskWSSoap"
			binding="tns:BisysReskWSSoap">
			<soap:address
				location="http://elinweb.adeo.no/BisysReskWS/BisysReskWS.asmx" />
		</wsdl:port>
		<wsdl:port name="BisysReskWSSoap12"
			binding="tns:BisysReskWSSoap12">
			<soap12:address
				location="http://elinweb.adeo.no/BisysReskWS/BisysReskWS.asmx" />
		</wsdl:port>
		<wsdl:port name="BisysReskWSHttpPost"
			binding="tns:BisysReskWSHttpPost">
			<http:address
				location="http://elinweb.adeo.no/BisysReskWS/BisysReskWS.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>